<div class="ins-lite atr borderR5">
    <a class="next-cp" id="tips-submit-cast" href="javascript:void(0);" style="margin:5px;"><?php {echo $buttonTitle;}?></a>
    <div id="edit-area" style="margin:5px 6px;display:none;">
        <textarea id="tipsub-area" style="width:99.9%;"></textarea>
        <div class="clear"></div>
        <a class="next-cp" id="tipsub-button" style="margin-top:5px;width:49.5%;display:inline-block;" href="javascript:void(0);">
            点我<?php {echo $buttonTitle;}?>
        </a>
        <a class="next-cp" id="tipsub-back" style="margin-top:5px;width:49.5%;display:inline-block;" href="javascript:void(0);">
            返回
        </a>
    </div>
    <div class="clear"></div>
</div>