<div class="atr bbs-tips-items borderR5">
    <div class="tip-top-left">
        <div class="author-img-wapper">
            <a href="/user/">
                <img src="" height="64px" width="64px" />
            </a>
        </div>
        <span class="comm-username">
            <a href="/user/0"></a>
        </span>
    </div>
    <div class="tip-top-right">
        <div class="tip-content-info">
            <span class="comm-date">回复于 : 0</span>
        </div>
        <div class="tip-content"></div>
    </div>
    <div class="clear"></div>
</div>