<div class="tips-list-items" style="border:2px solid #FF3030;">
    <!--postid-->
    <!--<input type="hidden" value="0" />-->
    <span class="list-items-img">
        <img id="user-img" class="borderR5" src="" width="32px" height="32px" />
    </span>
    <span class="list-items-author">
        <a href="0">0</a>
    </span>
    <span class="list-items-title">
    </span>
    <span class="list-items-date Gray">发布于 : 0</span>
    <span class="list-items-readc">0评论 / 0阅读</span>
    <div class="clear"></div>
</div>
