.nav-v3{
    width:940px;
}
.sign-btn{
    color:black;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
    background:-moz-linear-gradient(top, #82cc27, #74b317);
    margin-left:10px;
    display:inline-block;
    height:29px;
    font-size:16px;
    line-height:29px;
    padding:0 15px;
    /*border:1px solid #96a37b !important;*/
    border:1px solid #dadada !important;
}
.sign-btn:hover{
    color:#345903;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
    background:-moz-linear-gradient(top, #90de31, #7fc01e);
}
.sign-btn:active{
    margin-top:1px;
}
.newUser{
    margin-top:5px;margin-right:5px;
}
#f-s2{
    margin-top:15px;
}
#f-s2-l{
    float:left;width:400px;height:200px;
}
#f-s2-r{
    margin-left:422px;
}