a.btn-v2{
    color:#444;
    font-size:15px;
    font-weight: bold;
    display:block;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #ddd;
    background:#F5F5F5 url('/img/bg_pgbtn.png') repeat-x 0 0;
    outline:none;
    -moz-box-shadow:0 3px 0 #eee;
    -webkit-box-shadow:2px 2px 3px #eee;
    box-shadow:2px 2px 3px #eee;
}
a.btn-v2:active{
    background:#FAFAFA;
}
a.btn-v2:hover{
    color:#349d00;
    border-color:#ccc;
}
.BRT-red{
    border:1px solid #ccc;
    border-top:3px solid #bd0600;
}
.BRT-ora{
    border:1px solid #ccc;
    border-top:3px solid #ffa33e;
}
.BRT-gre{
    border:1px solid #ccc;
    border-top:3px solid #88ab11;
}