<div class="bookCommItems">
     <em>
          <a href="<?php echo $param['uhref']?>" class="bookComm-userHref"><img class="borderR5 bookComm-userhead" src="<?php echo $param['headimg']?>" width="45px"/></a>
          <a style="display:block;width:45px;" href="<?php echo $param['uhref']?>" class="bookComm-userName bookComm-userHref autowarp">
              <?php echo $param['un']?>
          </a>
     </em>
     <p class="bookCommContent">
          <?php echo $param['content']?>
     </p>
     <span class="Gray bookCommTime">
         <?php echo $param['time']?>
     </span>
     <span class="clear"></span>
</div>