<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>fontBigt/W020101025332783303251.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 style="cursor:default;font-size:18px;margin:6px 0px;font-weight:bold;color:#bf0a10;">&gt;Wikileaks：揭开另一个神秘的面纱</h1>
            <span>Wikileaks（维基解密）是一个大型文档泄露及分析网站，成立于2006年12月，目的为揭露政府及企业的腐败行为。</span>
            <span><b>泄露美军机密文件</b>：2010年3月，据报有一份由美国军方反谍报机构在2008年制作的军方机密报告称，WikiLeaks网站的行为已经对美国军方机构的“情报安全和运作安全”构成了严重的威胁。这份机密报告称，该网站上泄漏的一些机密可能会“影响到美国军方在国内和海外的运作安全。”该报告是在3月15日被泄露到了网上。</span>
            <span><b>泄露美国外交电报</b>：2010年11月29日，《纽约时报》引述WikiLeaks公布的机密文件指出，美国认为Google于2010年1月表示遭受网络攻击是来自中国，该遭骇事件是中国官方操作，使到Google在2010年3月22日宣布，中文搜索服务从中国大陆移转到香港，并扬言退出中国市场。</span>
            <span><b>曝陈水扁金援巴拿马4500万美元 不曾查核</b>：巴拿马《新闻报》根据维基解密的美国驻巴拿马大使馆机密电文，5月22日在头版及内页报道，陈水扁指定将捐款交给巴国前总统莫斯科索的白手套“南海基金会”，且不曾进行查核。 据台湾《中国时报》报道，该报道引述台湾“驻巴外交人员”称，1999年至2008年任总统的莫斯科索曾向他们施压索贿，直到他们屈服为止。</span>
        </div>
        <div class="clear"></div>
    </div>
</div>