<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>chrome3-550x306.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 style="cursor:default;font-size:18px;margin:6px 0px;font-weight:bold;color:#bf0a10;">&gt;Chrome 最受欢迎的 Web 开发工具</h1>
            <span>记得在IE7出现之前，我使用过遨游Mathon、GreenBrower、腾讯TT等浏览器。</span>
            <span>IE7出来不久之后，感觉它的那个图标比IE6要漂亮很多，就将IE6升级成IE7了。此后Mathon就比较少用了，浏览网页90%的时候都在使用着IE7，当时firefox的广告到处都是在一些下载站到处都是，一不小心就会被误下载下来。</span>
            <span>又不知道是哪一天，下载了谷歌浏览器Chrome。用了不到一个星期就被它深深吸引住了。一个星期之后Chrome便变成了我的默认浏览器了。我在想为什么Chrome一下子就吸引了我呢？</span>
            <span>Chrome的背景主题可以象桌面背景一样更改，并且国外有很多非常精美的桌面背景主题供你选择，有一次发现了国外一个论坛有很多设计非常漂亮的Chrome浏览器主题，那个时候我就早上换这个主题，中午换另外个主题，到了晚上再换别的主题。</span>
            <a href='http://xiazai.zol.com.cn/down.php?softid=327560&subcatid=69&site=10b&server=10&rand=5711360' target="_blank" class="next-cp" style="height:20px;line-height: 20px;margin:2px 200px;margin-top: 7px;">下载Chrome浏览器</a>
        </div>
        <div class="clear"></div>
    </div>
</div>