<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>Arpanet-1340262798109.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 style="cursor:default;font-size:18px;margin:6px 0px;font-weight:bold;color:#bf0a10;">&gt;世界上第一个分组交换网 : Arpanet</h1>
            <span>阿帕网为美国国防部高级研究计划署开发的世界上第一个运营的封包交换网络，它是全球互联网的始祖。</span>
            <span>1969年11月，美国国防部高级研究计划管理局（ ARPA - - Advanced Research Projects Agency ）开始建立一个命名为ARPAnet的网络，但是只有4个结点。</span>
            <span>ARPANET采用了包交换机制。当初，ARPAnet只联结4台主机，从军事要求上是置于美国国防部高级机密的保护之下，从技术上它还不具备向外推广的条件。</span>
            <span>最初，ARPAnet主要是用于军事研究目的，它主要是基于这样的指导思想：网络必须经受得住故障的考验而维持正常的工作，一旦发生战争，当网络的某一部分因遭受攻击而失去工作能力时，网络的其他部分应能维持正常的通信工作。</span>
            <span>1983年，ARPA和美国国防部通信局研制成功了用于异构网络的TCP/IP协议，美国加利福尼亚伯克莱分校把该协议作为其BSD UNIX的一部分，使得该协议得以在社会上流行起来，从而诞生了真正的Internet。</span>
        </div>
        <div class="clear"></div>
    </div>
</div>