<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>1338774578201.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 style="cursor:default;font-size:18px;margin:6px 0px;font-weight:bold;color:#bf0a10;">&gt;解放军美女网络尖兵：90昼夜写40万行代码</h1>
            <span>2008年初，总部赋予李聪娜所在部队紧急研发一种网络终端服务系统的任务，部队长王国玉安排她编写一套底层驱动程序。</span>
            <span>原本打算借机“露一手”，可真要编写程序时，她才发现这远远不同于传统意义上的软件编程，不仅此前没有学过，有些东西连听都没听过。看着一行行读不懂、看不明的源代码，她急得直想哭！</span>
            <span>背记相关函数、学习协议机制，研究国内外范例程序……李聪娜把自己宅在办公室，挑灯研读。一个月时间，30万行代码、100多类函数、60多种协议机制、20多个设计算法，一块块硬骨头被她“啃”了下来。</span>
            <span>2008年底，李聪娜代表兰州军区参加全军网络安全比武竞赛。</span>
            <span>她几乎24小时“泡”在枯燥的训练中，构建战场环境，探寻攻坚路径，一个月下来，瘦了整整15斤。作为64名选手中唯一的女性，李聪娜最终以一金一铜摘得桂冠。</span>         　
        </div>
        <div class="clear"></div>
    </div>
</div>