<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>fontBigt/1348034159635.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 style="cursor:default;font-size:18px;margin:6px 0px;font-weight:bold;color:#bf0a10;">&gt;超七成成年人偏好纸质书而非iPad电子书</h1>
            <span>据科技新闻网站TheVierge报道，美国数字学习倡导机构The Joan Ganz Cooney Center近日公布的一项调查报告显示，尽管iPad电子书比传统纸质书更加方便，但超过70%的成年受调查者表示更加偏好传统的纸质书。儿童对电子书的接受程度相比成年人更高，但儿童中偏好纸质书的比例也超过了50%。</span>
            <span>The Joan Ganz Cooney Center对1200对家长和儿童进行了调查。调查报告称，未来电子书和纸质书很有可能会同时出现在家庭中，二者分别扮演着不同的角色。在旅行或者孩子单独在家时，家长更加愿意选择电子书。</span>
            <span>然而，这项调查的受采访者全部是iPad用户，报告并未提及任何有关专用电子书阅读器的数字或结论。许多受访者称，之所以不愿意让孩子阅读iPad电子书，主要是担心孩子过多观看屏幕，以及担心iPad的其他功能干扰阅读。然而，Kindle等设备或许在这种情况下更加适合。</span>
        </div>
        <div class="clear"></div>
    </div>
</div>