<div class="atr"><div class="atr-bac-left"></div>
    <div class="font-t">
        <div class="font-t-left">
            <img src="<?php echo IMG_PATH_ROOT;?>fontBigt/1350441782442.jpg"></img>
        </div>
        <div class="font-t-right">
            <h1 class="font-t-title"><a href="http://www.itsrcs.com/blog/2012-10-21/content_219.html" class="cRed">&gt;主推草根艺人的YY音乐是怎样挣钱的?</a></h1>
            <span>以网游玩家语音聊天起家的YY，正式向SEC提交招股说明书、开启上市之路。一个意外亮点是，曝光的营收构成中，2012年上半年YY音乐营收达到9272万元，占总收入的30%，远超过外界熟知在线广告(主要是多玩网)业务。</span>
            <span>YY音乐有别于面向白领的互联网产品，挣的实际上是三四线乡镇网民、城市打工者和个体户小老板的钱。用户从YY购买服务和礼物，然后在歌手和公会频道里面消费，消费后由歌手、公会管理者、YY三方分成，分成后的积分可以提佣折现为人民币。</span>
            <span>但是这么大的一个互联网市场，有多少用户是我们这些坐在办公室的产品经理们可以真真正正理解到了？有时候互联网从业者总是把自己想得太文艺，总想着搞那些阳春白雪的东西，最终往往却是饿死了自己。那些下里巴人也许并不起眼，但他们老老实实地在数着钱。</span>
            <span>很简单。跟绝大多数的页游、游戏平台、互联网服务一样：免费服务付费特权。</span>
        </div>
        <div class="clear"></div>
    </div>
</div>