<div id="footer">
    <div id="footer-in">
        <div class="fin-item" style="padding-right:30px;">
            <div class="fin-title">关于我们</div>
            <a href="http://www.27tree.com">二叉树社区</a> - 一个小小的SNS社交网络<br>
            <a href="http://new.cnzz.com/v1/login.php?siteid=4991736" target="_blank" rel="nofollow">站长统计</a>
        </div>
        <div class="fin-item" style="padding:0 15px;">
            <div class="fin-title">联系方式</div>
            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=XjUxMToxHi8vcD0xMw" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a>
        </div>
        <div class="fin-item" style="padding-left:30px;">
            <div class="fin-title">友情链接</div>
            <a href="http://www.toutoupiao.com/" target="_blank">&#25237;&#31080;&#32593;</a> |
            <a href="http://www.chm-pdf.com/" target="_blank">E书家</a> |
            <a href="http://www.ticmy.com/" target="_blank">Ticmy</a> |
            <a href="http://www.qiguodu.com/" target="_blank">岐山</a> |
            <a href="http://www.lgups.com/" target="_blank">ups</a> |
            <a href="http://www.godorders.com/" target="_blank">天旨信息</a>
        </div>
        <div class="clear"></div>
        <div id="footer-cpr">© Copyright 2011 - 2013 itsrcs.com All rights reserved</div>
    </div>
</div>
<span style="display:none;"><script src="http://s21.cnzz.com/stat.php?id=4991736&web_id=4991736" language="JavaScript"></script></span>