<div style="background:#f1f1f1;border-top:1px solid #ccc;padding:10px 0;border-bottom:1px solid #ccc;margin-bottom:-1px;">
    <span style="display:none;"><script src="http://s21.cnzz.com/stat.php?id=4991736&web_id=4991736" language="JavaScript"></script></span>
    <div class="borderR5" style="border:1px solid #ccc;width:98.535871156662%;margin:0px auto;padding:10px 0;background:#FFF;font-size:13px;">
        <div style="text-align:center;color:#999;">
        <a href="/about" rel="nofollow">关于我们</a> | <a rel="nofollow">联系我们</a> | <a rel="nofollow">友情链接</a> | <a rel="nofollow">网站地图</a> | <a rel="nofollow">广告服务</a>
        </div>
        <div style="text-align:center;color:#999;margin-top:8px;background:url('/img/content_text_line.png') top center no-repeat;padding-top:8px;">© Copyright 2012 itsrcs.com All rights reserved</div>
    </div>
</div>