<div class="Shadow" id="navWapper">
    <div style="width:1024px;margin:0 auto;">
        <a style="background:url('/img/logo-fb.png');width:100px;height:25px;float:left;margin-left:5px;display:block;"></a>
        <div id="nav">
            <ul>
                <li><a href="<?php echo DOMAIN;?>/"><img src="<?php echo IMG_PATH_ROOT;?>home-16.png" align="absmiddle"/>&#x4E3B;&#x9875;</a></li>
                <li><a href="<?php echo DOMAIN;?>/blog/index.html">最新博客</a></li>
                <li><a href="<?php echo DOMAIN;?>/q_a/">QA在线问答</a></li>
                <li><a href="<?php echo DOMAIN; ?>/bookLib/"><img src="<?php echo IMG_PATH_ROOT; ?>Book-16.png" align="absmiddle"/>技术宅必备好书</a></li>
                <li style="border:none;"><a href="<?php echo DOMAIN; ?>/minbbs/"><img src="<?php echo IMG_PATH_ROOT; ?>bbs_ico_normal_new_16.png" align="absmiddle"/>讨论区</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>