<span class="RedBar">
    <span class="RedBar-in">关于本站博客</span>
</span>
<div class="desc">
    博客就是以网络作为载体，简易迅速便捷地发布自己的心得，及时有效轻松地与他人进行交流，再集丰富多彩的个性化展示于一体的综合性平台。不同的博客可能使用不同的编码，所以相互之间也不一定兼容。而且，很多博客都提供丰富多彩的模板等功能，这使得不同的博客各具特色。　
</div>
<div class="desc">
    本站提供了一个博客交流平台，致力于通过博客技术分享和交流，提升广大技术人员的技术水平。订阅本站的博客RSS，使你及时获取最新博客文章。
</div>
<span class="RedBar">
    <span class="RedBar-in">RSS Feed 地址</span>
</span>
<div class="desc cRed">http://www.27tree.com/rss/blogs.xml</div>
<div class="desc Gray">最后更新于:2012-12-12 12:12:12</div>