<span class="RedBar">
    <span class="RedBar-in">关于RSS</span>
</span>
<div class="desc">
    RSS是站点用来和其他站点之间共享内容的一种简易方式（也叫聚合内容），通常被用于新闻和其他按顺序排列的网站，例如Blog。一段项目的介绍可能包含新闻的全部介绍等。或者仅仅是额外的内容或者简短的介绍。这些项目的链接通常都能链接到全部的内容。网络用户可以在客户端借助于支持RSS的新闻聚合工具软件（例如SharpReader,NewzCrawler、FeedDemon），在不打开网站内容页面的情况下阅读支持RSS输出的网站内容。网站提供RSS输出，有利于让用户发现网站内容的更新。
</div>
<span class="RedBar">
    <span class="RedBar-in">RSS阅读器</span>
</span>
<div class="desc"><a href="http://down.tech.sina.com.cn/content/3068.html" target="_blank" rel="nofollow">FeedDemon</a> | <a href="http://www.google.com/reader?hl=zh-CN" target="_blank" rel="nofollow">Google Reader</a></div>
<span class="RedBar">
    <span class="RedBar-in">RSS阅读器的特点</span>
</span>
<div class="desc">a. 没有广告或者图片来影响标题或者文章概要的阅读。</div>
<div class="desc">b. RSS阅读器自动更新你定制的网站内容，保持新闻的及时性。</div>
<div class="desc">c. 用户可以加入多个定制的RSS提要，从多个来源搜集新闻整合 到单个数据流中。</div>