<span class="RedBar">
    <span class="RedBar-in">关于本站图书</span>
</span>
<div class="desc">
    本站收录了大量程序员推荐阅读的图书以及部分的PDF电子版下载，同时也有许多网友分享了他们自己喜爱的图书和电子书文件。我们始终坚信书中自有黄金屋，分享促进发展。
    本站提供了一个资源分享平台，为广大网友所共享。
</div>
<div class="desc">
    目前提供的图书种类有 : <b>JAVA开发技术 , PHP开发技术 , C / C++ , C# / .NET , 算法技巧 , Android , Python , Web开发 , IOS开发 , NoSQL , Perl , 数据库技术 , 操作系统 , 汇编语言等</b>。同时本站提供最新出版的编程技术图书的报道。
</div>
<div class="desc">
    订阅本站的图书RSS，关注最新网友分享好书。
</div>
<span class="RedBar">
    <span class="RedBar-in">RSS Feed 地址</span>
</span>
<div class="desc cRed">图书快报RSS未开放</div>
<div class="desc Gray">最后更新于:2012-12-12 12:12:12</div>