<div id="tit_div">
     <h1 id='art-title' class="autowarp"><?php echo $templates['title'];?></span></h1>
     <input type='text' id='edit-h1' value="<?php echo $templates['title'];?>" />
     <h5>
          <span class="Gray">由 <a href="/user/<?php {echo $templates['uid'];}?>" target="_blank"><?php echo $templates['username'];?></a></span> 发布于
          <span class="Gray"><?php echo $templates['datetime'];?></span> 评论(<?php echo $templates['commi'];?>) / 阅读(<?php echo $templates['readi'];?>)
     </h5>
</div>