<div id="editollbar" class="borderR5 Shadow">
     <!--<span class="toobaritem borderR5" id="edit-enter-span" style="display:block;">
          <a href="javascript:loadKd('#editarea');"><img src='/img/config-32.png' align='absmiddle' /></a>
     </span>-->
     <span class="toobaritem borderR5" id="edit-ok-span">
          <a title="完成,保存结果" href='javascript:editOk()'><img src='/img/check-32.png' align='absmiddle' /></a>
     </span>
     <span class="toobaritem borderR5" id="edit-del-span">
          <a title="删除这篇文章" href="javascript:delart('$artid');"><img src='/img/del-art-32.png' align='absmiddle' /></a>
     </span>
     <span class="toobaritem borderR5" id="edit-back-span">
          <a title="退出编辑模式" href="javascript:Interface_show();"><img src='/img/go-back-edit-32.png' align='absmiddle' /></a>
     </span>
     <div class="clear"></div>
</div>